html, body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, p, label, th, td {
  font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    font-size: 50px;
}
h2{
  text-align: center;
  font-size: 36px;
}
p{
    text-align: justify;
}

/* Start Header */

/* Logo */
div.logo{
    display: flex;
    justify-content: center;
}

/* Start Navgation Menu */

/* Sticky Menu */
/* Left Menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #63666A;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
    border-right: 1px solid white;
  }
  li:last-child{
    border-right: none;
  }
  #sc{
    border-right: none;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: #A05EB5;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #a3a3a3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    background-color: #a3a3a3;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  /* Right Side Menu */
  li.right-menu{
    float: right;
    border-left: 1px solid white;
  }
  
  /* Menu Hover Effect */
  .dropdown-content a:hover {
    background-color: #A05EB5;
    color: white;
}
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Tablet and Mobile Responsive Menu */
@media screen and (max-width:600px) {
    li{
        float: none;
        text-align: center;
    }
    div.menu{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #63666A;
    }
   
}
/* End of Menu Navigation */

/* Hero Image with Text */
div.home-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
    height: 600px;
    width: 100vw;
    background-repeat: no-repeat;
    /* animation-name: slider;
    animation-duration: 10s;
    animation-iteration-count: infinite; */
    animation: slider 10s ease-in-out infinite alternate;
    background: #63666A;
    background-size: 100%;
}

@keyframes slider {
    0%   {background-image: url("images/TechTech-Home-5.jpg");} 
    25%  {background-image: url("images/TechTech-Home-4.jpg");}
    50%  {background-image: url("images/TechTech-Home-3.jpg");}
    75%  {background-image: url("images/TechTech-Home-2.jpg");}
    100% {background-image: url("images/TechTech-Home-1.jpg");}
}

/* Slider Content */
div.slider-content{
    text-align: center;
    background-color: rgba(255, 240, 103, 0.7);
    border-radius: 25px 0px 25px 0px;
    padding: 40px 80px;
    color: rgb(0, 0, 0);
}

/* Button Style */
button, input[type="submit"]{
    font-size: 20px;
    color: white;
    background-color: #A05EB5;
    padding: 10px 16px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 1px rgb(0, 0, 0);
}
button:hover, input[type="submit"]:hover{
    background-color: yellow;
    border: 1px solid black;
    color: black;
    transform: skew(2);
}

/* Our Services */
h1.service{
    padding: 100px 0px 30px 0px;
}
div.services{
    text-align: center;
    display: flex;
    justify-content: space-around;
    }
    
    div.services img{
        padding: 5px;
        width: 150px;
    }

    div.service-box{
        margin: 0px 20px;
        padding: 40px 20px;
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 5px 5px 2px black;
    }

    div.service-box p{
        margin: 15px 0px;
    }
    div.service-box button{
        margin: 25px 0px;
    }

h1.about{
    padding: 100px 0px 30px 0px;
}
div.about{
    display: flex;
    padding: 0px 20px;
}
.flex-item-left{
    width:50%;
}
.flex-item-right{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
div.image img{
    width: 290px;
    display: inline-block;
    margin: 20px 0px 0px 30px;
    border: 1px solid black;
    border-radius: 5px;
}
div.image img:hover{
    box-shadow: 5px 5px 2px black;
}

/* Gallery */
h1.gallery{
  padding: 100px 0px 30px 0px;
}
div.gallery{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px 20px 0px 20px;
}
div.gallery div{
  padding: 5px;
}

div.gallery img{
  padding: 2px;
  border: 1px solid black;
  border-radius: 15px;
}
div.gallery img:hover{
  background-color: #A05EB5;
}
div.gallery p{
  text-align: center;
  color: black;
  margin-top: 0px;
}

/* Contact Us */
h1.contact{
  padding: 100px 0px 30px 0px;
}

/* Contact Form */
div.contact-form{
  border-radius: 5px;
  background-color: lightgrey;
  padding: 20px;
  padding-right: 40px;
  flex-shrink: 0;
  flex-grow: 1;
}
input[type="text"], input[type="email"], textarea{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

/* Table */
div.table{
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(236, 236, 185);
  overflow-y: scroll;
  max-height: 600px;
  flex-shrink: 0;
  flex-grow: 1;
}
th, td{
  padding: 15px;
  text-align: center;
}
th{
  background-color: #A05EB5;
  cursor: auto;
}
table{
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 12%;
}

tr:nth-child(odd){
  background-color: #a3a3a3;
}
tr:hover{
  background-color: #63666A;
}

/* Flex in Contact */
div.contact{
  display: flex;
}

/* Footer */
div.new{
  background-color: #63666A;
  border: 1px solid black;
  margin: 0px 0px 0px 0px;
  padding: 0;
  line-height: 320px;
}